.background1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/Main2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.container1 {
    max-width: 400px;
    margin: 150px auto 50px; /* 컨테이너 위치 조정 */
    padding: 20px;
    border: 3px solid #fffcfc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background-color: rgba(65, 60, 60, 0.8); /* 투명도를 가진 배경색 */
}

.box1 {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background-color: #f9f9f9;
}

.content-wrapper1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    color: #f3f4f5;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    font-family: 'Pretendard-Black';    
    font-size: 30px;
    
}

form1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.form1-group {
    margin-top: 20px;
}

label1 {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
    color: #fbfbfc;
    font-family: 'Pretendard-Black'; 
    font-size: 18px;
}

input {
    padding: 10px;
    border: 1px solid #ad9797;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    width: calc(100% - 22px);
}

button1 {
    padding: 10px 15px;
    background-color: #eff2f4;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Pretendard-Black'; 
    transition: background-color 0.2s;
    align-self: center;
    margin-top: 30px;
}

button1:hover {
    background-color: #ffffff;
    color: #ffffff;
}