@font-face {
    font-family: 'Pretendard-Bold';
    src: url('../font/Pretendard-Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('../font/Pretendard-SemiBold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Pretendard-Black';
    src: url('../font/Pretendard-Black.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Pretendard-Regular';
    src: url('../font/Pretendard-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Pretendard-Thin';
    src: url('../font/Pretendard-Thin.woff2') format('woff2');
  }

  @import "~normalize.css/normalize.css";

body {
    background-color: #2d2c28;
    transition: background-color 0.5s ease; 
}


body.dark-mode {
  background-color: #fbf9f4; 
  transition: background-color 0.5s ease; 
}

