.background-video {
  display: flex;
  position: ;
  left:50%;
  transform: translateX(-50%);
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  object-fit: cover;
  z-index: -1; /* To place it behind other content */
}