@media screen and (min-width: 1440px) and (max-height: 1440px) {
  body, html {
      height: 100%;
      overflow-x: hidden;
  }
  
  .add-button {
    display: flex;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
      width: 32vw;
      height: 8vh;
      bottom: 2vw;
      padding: 10px 15px;
      background-color: #2d2c28;
      color: #FFFFFF;
      border: 3px solid #2d2c28;
      border-radius: 4px;
      cursor: pointer;
      font-size: 15px;
      font-family: 'Pretendard-Semibold'; 
      margin-top: 30px;
      align-items: center;
      justify-content: center;
  }
  
  .Full-notice {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    width: 30vw;
    height: 50vh;
    background-color: #d2d2d2;
    border-radius: 5px;
    overflow-y: auto; 
    max-height: calc(100vh - 64px - 48px);
  }
  
    .notice-button {
    display: flex;
    width: 98%;
    min-height: 10%;
    align-items: center;
    justify-content: flex-start; /* 왼쪽 정렬 */
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 3px solid #FFFFFF;
    font-size: 12px;
    font-family: 'Pretendard-Semibold'; 
    margin-bottom: 20px; /* Add margin to space out the buttons */
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .notice-number {
    margin-left: 10px;
    margin-right: 10px; /* 번호와 제목 사이의 간격 */
    font-weight: bold; /* 번호를 더 두껍게 표시 */
  }
  
    .modal {
      display: flex;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      width: 31vw;
      padding: 10px;
      height: 15vh;
      bottom: 8.5vw;
      background-color: #d2d2d2;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      transition: opacity 0.3s ease, transform 0.3s ease;
    }
  
    .notice-title {
      display: flex;
      position: fixed;
      left: 38%;
      transform: translateX(-50%);
      width: 60%;
      height: 20%;
      background-color: #FFFFFF;
      color: #000000;
      border: 3px solid #FFFFFF;
      border-radius: 2px;
      font-size: 10px;
      font-family: 'Pretendard-Semibold'; 
      bottom: 103px;
    }
  
  
    .notice-text {
      display: flex;
      justify-content: center; /* 가로 방향 가운데 정렬 */
      align-items: center; /* 세로 방향 가운데 정렬 */
      position: fixed;
      left: 38%;
      transform: translateX(-50%);
      width: 60%;
      height: 30%;
      background-color: #FFFFFF;
      color: #000000;
      border: 3px solid #FFFFFF;
      border-radius: 2px;
      font-size: 10px;
      font-family: 'Pretendard-Semibold'; 
    }
    
  
    .modal-content{
      display: flex;
      position: fixed;
      flex-direction: column; 
    }
  
  .notice-addbutton {
    display: flex;
    position: fixed;
    width: 20%;
    height: 70%;
    right: 40px;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: #000000;
    border: 3px solid #FFFFFF;
    border-radius: 2px;
    font-size: 12px;
    font-family: 'Pretendard-Semibold'; 
  }
  
  .notice-username {
    margin-left: auto;
    padding-left: 10px;
    color: grey;
  }

}


@media screen and (max-width: 720px) and (max-height: 1440px) {
  body, html {
    height: 100%;
    overflow: hidden; 
  }

.add-button {
  display: flex;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
    width: 87vw;
    height: 8vh;
    bottom: 10vw;
    padding: 10px 15px;
    background-color: #2d2c28;
    color: #FFFFFF;
    border: 3px solid #2d2c28;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Pretendard-Semibold'; 
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.Full-notice {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  width: 77%;
  height: 260px;
  background-color: #d2d2d2;
  border-radius: 5px;
  overflow-y: auto; 
  max-height: calc(100vh - 64px - 48px);
}

  .notice-button {
  display: flex;
  width: 98%;
  min-height: 10%;
  align-items: center;
  justify-content: flex-start; /* 왼쪽 정렬 */
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 3px solid #FFFFFF;
  font-size: 12px;
  font-family: 'Pretendard-Semibold'; 
  margin-bottom: 20px; /* Add margin to space out the buttons */
  padding-top: 5px;
  padding-bottom: 5px;
}

.notice-number {
  margin-left: 10px;
  margin-right: 10px; /* 번호와 제목 사이의 간격 */
  font-weight: bold; /* 번호를 더 두껍게 표시 */
}

  .modal {
    display: flex;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 82%;
    padding: 10px;
    height: 100px;
    bottom: 30.5vw;
    background-color: #d2d2d2;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .notice-title {
    display: flex;
    position: fixed;
    left: 38%;
    transform: translateX(-50%);
    width: 60%;
    height: 20%;
    background-color: #FFFFFF;
    color: #000000;
    border: 3px solid #FFFFFF;
    border-radius: 2px;
    font-size: 10px;
    font-family: 'Pretendard-Semibold'; 
    bottom: 70px;
  }


  .notice-text {
    display: flex;
    position: fixed;
    left: 38%;
    transform: translateX(-50%);
    width: 60%;
    height: 30%;
    background-color: #FFFFFF;
    color: #000000;
    border: 3px solid #FFFFFF;
    border-radius: 2px;
    font-size: 10px;
    font-family: 'Pretendard-Semibold'; 
  }

  .modal-content{
    display: flex;
    position: fixed;
    flex-direction: column; 
  }

.notice-addbutton {
  display: flex;
  position: fixed;
  width: 20%;
  height: 70%;
  right: 20px;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  color: #000000;
  border: 3px solid #FFFFFF;
  border-radius: 2px;
  font-size: 12px;
  font-family: 'Pretendard-Semibold'; 
}

.notice-username {
  margin-left: auto;
  padding-left: 10px;
  color: grey;
}
}