@media screen and (min-width: 1440px) and (max-height: 1440px) {
  body, html {
      height: 100%;
      overflow-x: hidden;
  }

  .notice-detail {
    display: flex;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 85%;
    margin-top: 85px;
    padding:20px;
    background-color: #d2d2d2;
    border-radius: 5px;
    }
    
    .notice-detail-sub {
      display: flex;
      position: fixed;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      left: 50%;
      height: 12%;
      padding: 10px;
      transform: translateX(-50%);
      background-color: #FFFFFF;
      width: 80%;
      border-radius: 5px;
      z-index: -1;
      font-family: 'Pretendard-Semibold'; 
      margin-top: 20px;
    }
  
    .date{
      align-self: flex-end;
      font-family: 'Pretendard-Regular'; 
    }
  
    .NoticeContent {
      width: 80%;
      height: 52%;
      margin: 180px auto 0;
      padding: 10px;
      background-color: #FFFFFF;
      border-radius: 5px;
      font-size: 12px;
      font-family: 'Pretendard-Semibold';
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    
  
    .notice-detail-edit-title {
      display: flex;
      position: fixed;
      bottom: 16.5%;
      left: 37.5%;
      transform: translateX(-50%);
      width: 57%;
      height: 4%;
      font-family: 'Pretendard-Semibold'; 
      border: none;
      border-radius: 4px;
      font-size: 10px;
      text-align: center; 
      background-color: #FFFFFF;
    }
  
    .notice-detail-edit-text {
      display: flex;
      position: fixed;
      bottom: 3%;
      left: 50%;
      transform: translateX(-50%);
      width: 82%;
      height: 9%;
      font-family: 'Pretendard-Semibold'; 
      border: none;
      border-radius: 4px;
      font-size: 10px;
      text-align: center;
    }
  
    .edit-form-button {
      display: flex;
      align-items: center;
      margin-top: 10px;
      width: 100%;
    }
  
    .edit-form-button button {
      padding: 5px 10px;
      font-size: 10px;
      cursor: pointer;
    }
  
    .notice-edit-edit {
      display: flex;
      position: fixed;
      bottom: 16.5%;
      right: 20%;
      height: 4.2%;
      align-items: center;
      justify-content: center;
      background-color: #ecec19;
      font-family: 'Pretendard-Semibold'; 
      border: none;
      border-radius: 4px;
      font-size: 10px;
      width: 3vw;
    }
  
    .notice-edit-delete {
      display: flex;
      position: fixed;
      bottom: 16.5%;
      right: 8%;
      height: 4.2%;
      align-items: center;
      justify-content: center;
      background-color: #FFFFFF;
      font-family: 'Pretendard-Semibold'; 
      border: 3px solid #FFFFFF;
      border-radius: 4px;
      font-size: 10px;
      width: 3vw;
    }

}

@media screen and (max-width: 720px) and (max-height: 1440px) {
  body, html {
    height: 100%;
    overflow: hidden; 
  }

.notice-detail {
  display: flex;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 80%;
  margin-top: 80px;
  padding:20px;
  background-color: #d2d2d2;
  border-radius: 5px;
  }
  
  .notice-detail-sub {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50%;
    height: 15%;
    padding: 10px;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    width: 80%;
    border-radius: 5px;
    z-index: -1;
    font-family: 'Pretendard-Semibold'; 
  }

  .date{
    align-self: flex-end;
    font-family: 'Pretendard-Regular'; 
  }

  .NoticeContent {
    display: flex;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 46%;
    margin-top: 130px;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-family: 'Pretendard-Semibold'; 
  }

  .notice-detail-edit-title {
    display: flex;
    position: fixed;
    bottom: 16.5%;
    left: 32%;
    transform: translateX(-50%);
    width: 47%;
    height: 4%;
    font-family: 'Pretendard-Semibold'; 
    border: none;
    border-radius: 4px;
    font-size: 10px;
    text-align: center; 
    background-color: #FFFFFF;
  }

  .notice-detail-edit-text {
    display: flex;
    position: fixed;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 84%;
    height: 9%;
    font-family: 'Pretendard-Semibold'; 
    border: none;
    border-radius: 4px;
    font-size: 10px;
    text-align: center;
    background-color: #FFFFFF;
  }

  .edit-form-button {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
  }

  .edit-form-button button {
    padding: 5px 10px;
    font-size: 10px;
    cursor: pointer;
  }

  .notice-edit-edit {
    display: flex;
    position: fixed;
    bottom: 16.5%;
    right: 25%;
    height: 4.2%;
    align-items: center;
    justify-content: center;
    font-family: 'Pretendard-Semibold'; 
    border: none;
    border-radius: 4px;
    font-size: 10px;
    background-color: #ecec19;
  }

  .notice-edit-delete {
    display: flex;
    position: fixed;
    bottom: 16.5%;
    right: 8%;
    height: 4.2%;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    font-family: 'Pretendard-Semibold'; 
    border: none;
    border-radius: 4px;
    font-size: 10px;
  }

}