@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('../font/Pretendard-SemiBold.woff2') format('woff2');
  }
  

  @media screen and (max-width: 720px) and (max-height: 1440px) {
    body, html {
        height: 100%;
        overflow-x: hidden;
    }
    



.Box-1 {
  margin: 20px;
  background-color: #e8e8e8;
  padding: 20px;
  display:flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  border-radius: 10px;
}

.KickBoardName {
  font-family: 'Pretendard-SemiBold'; 
  font-size: 20px;
  color: #000000;
}

.KickBoardImage {
  max-width:100px;
  max-height:100px;
  margin-right: 30px;
}


.Test-Both {
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  width: 100%;
}

.Face {
  display: flex;
  background-color: #A5A49F;
  padding: 20px;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  border-radius: 10px;
  height: 15vh;
  margin-top: 0px;
  width:50vw;
}


.Face-Test {
  font-family: 'Pretendard-Bold'; 
  font-size: 12px;
  color: #2D2C28;
  margin-top: 20px;
}


.Alchol {
  display: flex;
  background-color: #e8e8e8;
  padding: 10px;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  border-radius: 10px;
  height: 15vh;
  margin-top: 0px;
  width:50vw;
}

.Alchol-Test {
  font-family: 'Pretendard-Bold'; 
  font-size: 12px;
  color: #2D2C28;
  margin-top: 20px;
}
}